# Lists
**Lists and the things you can do with them. Includes indexing, slicing, and mutating.**

Lists in Python represent ordered sequences of values. Here is an example of how to crete them:

In [7]:
primes = [2, 3, 5, 7]

In [8]:
# We can put otjer types of things in lists
planets = [ 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [9]:
# We can even make a list of lists
hands = [
    ['J', 'K', 'L'],
    ['2', '3', '4'],
    ['6', 'A', 'K']
]

In [10]:
# A list can contain a mix of different types of variables
my_favorites_things = [ 32, 'raindrops on roses', help]

**Slicing**

What are the first three planets? We can answer this question using *slicing*.

In [11]:
planets[0:3]

['Mercury', 'Venus', 'Earth']

The starting and ending indices are both optional. If I leave out the start index, it's assumed to be 0. So I could rewrite the expression above as:

In [12]:
planets[:3]

['Mercury', 'Venus', 'Earth']

If I leae out the end index, it's assumed to be the length of the list.
The expression below means "give me all the planets from index 3 onwards".

In [13]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [14]:
# All the planets exceptthe first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [15]:
# The last 3 planets
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

**Changing lists**

Lists are *mutable*, meaning they can be modified *in place*.
One way to modify a list is to assign to an index or slice expression.
For example, let's say we want to rename Mars.

In [16]:
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [18]:
# That was silly. Let's give them back their old name
planets[3] = 'Mars'
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

**List functions**

Python has several useful functions for working wtih lists.

In [19]:
# How many planets are there?
len(planets)

8

In [20]:
# The planets sorted in alphabetical order
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [21]:
# sum does what you might expect
primes = [2, 3, 5, 7]
sum(primes)

17

In [22]:
# We've previously used the min and max to get the minimum or maximum of several arguments.
# But we can also pass in a single list argument.
max(primes)

7

In [29]:
# list.append modifies a list by adding an item to the end of the list
planets.append('Pluto')
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [30]:
# list.pop removes and returns the last element of a list
planets.pop()

'Pluto'

In [31]:
# Where does Earth fall in the order of planets?
# We can get its index using the list.index method.

planets.index('Earth')

2

In [32]:
# To avoid unpleasant surprises, we can use the in operator to determine whether a list
# contains a particular value.

# Is Earth a planet?
"Earth" in planets

True

In [33]:
# Is Calbefraques a planet?
"Calbefraques" in planets

False

# Tuples
Tuples are almost exactly the same as lists. They differ in just two ways.

1. The syntax for creating them uses parentheses instead of square brackets.

> ```t = (1, 2, 3)```

2. They cannot be modified, because they are *immutable*

In [34]:
# Tuples are often used for functions that have multiple return values.
# For example, the as_integer_ratio() method of float objects returns a numerator and a denominator in the form
# of a tuple.

x = 0.125
x.as_integer_ratio()

(1, 8)

In [35]:
# These multiple return values can be individually assigned as follows:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

In [36]:
# Finanlly we have some insight into the classic Stupid Python Trick for swapping two variables!
a = 1
b = 0
a, b = b, a
print(a, b)

0 1